

<h1>ENTER ACCESS CODE</h1>

<h2 id="notice"><%= notice %></h2>
<br/>
<%= form_tag tokens_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :token_login, params[:token_login], :autofocus => true %>
    <%= submit_tag "LOGIN", :name => nil %>
  </p>
<% end %>


<br />
