<h1>Listing events</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Meetup</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.meetup_id %></td>
    <td><%= link_to 'Show', event %></td>
  </tr>
<% end %>
</table>

<br />
